:root {
  --color-primary: #a134f6;
  --color-primary--500: #a134f6;
  --color-title: #090909;
  --color-paragraph: #333333;
  --color-error: #C86B70;
  --color-white: #FFF;
  --color-purple-paragraph: #E8CBFF;
}